/* 

 EX5: Crie um conjunto de propriedades CSS para fazer com que uma imagem tenha um efeito de rotação de 45 graus.
*/
/* body {
  text-align: center;
} */
div {
  margin-top: 100px;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-left: 500px;
  box-shadow: -15px 0px 5px #000;
}
