/* 

 EX9: Crie um conjunto de propriedades CSS para fazer com que um paragrafo tenha um efeito de transição que altera a cor do texto de azul para vermelho ao passar o mouse por cima.
*/
body{
    text-align: center;
}
div{
    margin-top: 100px;
    display: inline-block;
    width: 200px;
    height: 200px;
}

div input{
    background-color: blue;
    transition: background 0.5s ease;
}

div input:focus{
   background-color: red;
   
}